# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_NPY=111  CONDA_PY=27
    - CONDA_NPY=112  CONDA_PY=27
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "SqqGIvy4RYINGB5QiVVYJRzqWSK92CzeQbNPM7ckVNDe5D0MRKj+Eo+aw/lPVUWW7D5RRmxqiqhtDw10aV4i2xGU+6v1cMsWgL3RmmLm6UQRaACkGVJiKPGvj7MWisYFIiCKVu0ZG3DQUnGXXeuCfnddnuLRlAlbFUe/FcunlwD5eDFKjHNeltReumDRhIwT+3FyUhrLdOUOjO/rI6DZOvZskkd++7BKUiw0gO2zvW3Ux9WX32VCMrpHqbG1Ml80DuhU2O2zxg8N/CK/utoGeZwu3eiUGzYFSXVYZybPUHugXo35QlG6LKszEhq50PnDxg1SOh95+ZtUt43BI4HP7fLebdQfP/kftz5BtoszQ4w85nIaEqpou2Au+cnjpO72xHlt/kERN6dxjnrKl7G54RHprIwDT7KmrWZmEYBvcOMmSo9pwaNBI1pOIl5e6JNUTXmKWY1LZ9NsfKBGFyAFMH125hPyt8kRaqGoUV1T73BHhH5tnh8zgs08guwBWw8EG7EcSJDb+p4mQ74cUBEN+0UgvXWC3pHygjAXS9pqDO/6nhrEQIxlXt2MJk3EwWI7QWwDpYdKuvoT0ydkWpx2KYG3qTPqD/Q9/ep62vPYJDQK6EqSGbdo+gA+JVUafHQDB8clWw4F2rXZ1dErfmspPo4jdmsOeSCfMPqLhlPnneQ="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
